<div data-controller="refresh-pop" id="<%= country.id %>">
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title"><%= country.name %> <%= country.flag %></h5>
      <h6 class="card-subtitle mb-2 text-muted">Population as of now:</h6>
      <p class="card-text"><%= country.population %></p>
    </div>
  </div>
</div>
