<p style="color: green"><%= notice %></p>

<h1>Countries</h1>

<div class="container">
  <div class="row">
    <% @countries.each do |country| %>
    <div class="col-4">
      <%= render country %>
    </div>
    <% end %>
  </div>
</div>