ul.stack {
  height: 200px;
  width: 200px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

ul.stack > div {
  height: 100%;
}

ul.stack li {
  height: 100%;
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  cursor: grab;
}

ul.stack li:active {
  cursor: grabbing;
}